
/* 1. Set sensible defaults for the whole page */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 2. Make the app truly full-screen and removes the white border */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

/* 3. A helper rule to make sizing elements easier */
*,
*::before,
*::after {
  box-sizing: border-box;
}